.main-blog{
    width: 80%;
    margin: 100px auto;
    background-color: #dce3e4;
    border-radius: 20px;
    box-shadow: 10px 20px 20px rgb(155, 142, 142);
    
}
.blog-container{
    padding: 50px;
}
.blog-heading{
    text-align: center;
    color: #65BCCA;
}
span{
    color: #65BCCA;
}