.activity-container{
    height: 500px;
    border: 2px solid rgb(215, 232, 238);
    border-radius: 8px;
    box-shadow: 10px 10px 100px rgb(223, 232, 235);
    position: relative;

}
.activity-container img{
    width: 96%;
    height: 150px;
    padding: 2%;
    border-radius: 12px 12px 0px 0px;
}
.activity-item{
    padding: 0px 20px;
}
.card-title{
    margin-top: 0px;
}
.btn-add{
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
    border: none;
    background-color: #003862;
    color: white;

}
.btn-add:hover{
    background-color: #65BCCA;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .card-detail-p{
        display: none;
    }
  }